body
{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    background-color: #333;
}

h1
{
    text-align: center;
    padding: 5px 0 0 0;
}


*
{
    margin: 1rem 0 0 3rem;
}

a
{
    text-decoration: none;
    font-weight: bold;
    color: #00a3cc;
}

a:hover
{
    color: #007a99;
}