.pink
{
   background-color: #ff6699; 
   color: #fff;
   height: 50px;
   width: 400px;
}

.red
{
   background-color: #ff0000;
   color: #fff;
   height: 50px;
   width: 400px;
}

.blue
{
   background-color: #0099cc;
   color: #fff;
   height: 50px;
   width: 400px;
}

.green
{
   background-color: #00b300;
   color: #fff;
   height: 50px;
   width: 400px;
}

.yellow
{
   background-color: #ffcc00;
   color: #fff;
   height: 50px;
   width: 400px;
}

.orange
{
    background-color: #ff6600;
    color: #fff;
    height: 50px;
    width: 400px;
}


